:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

.card{
  background: #fff;
  padding: 1rem;
}

.bg-light{
  background: var(--light-color);
  color: var(--dark-color);
}

.bg-dark{
  color: var(--light-color);
  background: var(--dark-color);
}

.bg-primary{
  color: var(--light-color);
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--dark-color)
}

h1,h2,h3,h4,h5,h6{
  font-family: Staatliches;
}

p{
  font-size: .9rem;;
  line-height: 1.5rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn:hover{
  opacity: .9;
}

.btn-block{
  width: 100%;
  margin: auto;
  text-align: center; 
}

.btn-light { background: var(--light-color) }
.btn-primary { background: var(--primary-color) }
.btn-secondary { background: var(--secondary-color) }


.category-sports { background: var(--sports-color) }
.category-ent { background: var(--ent-color) }
.category-tech { background: var(--tech-color) }


.py-1{padding: 1rem 0;}
.py-2{padding: 1.5rem 0;}
.py-3{padding: 2rem 0;}
.py-4{padding: 3rem 0;}


.p-1{padding: 1rem 0;}
.p-2{padding: 1.5rem 0;}
.p-3{padding: 2rem 0;}
.p-4{padding: 3rem 0;}



/* Utiliy Classes */
.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

.container img{
  width: 100%;
}

.category{
  font-size: .7rem;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
}

.category-sports{
  background: var(--sports-color);
}


  /* Navigation */

  #main-nav{
    position: sticky;
    top: 0;
    background: #fff;
    padding: 1rem 0;
    z-index: 2;
  }



#main-nav .container{
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  align-items: center;
}

 .logo img{
  width: 180px;
}

#main-nav ul{
  display: flex;
  justify-self: end;
}

#main-nav ul li a{
  padding: .6rem 1rem;
  display: block
}

#main-nav ul li .current{
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover{
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social-icons a{
  color: gray;
}

/* Showcase */

#showcase {
  color: #fff;
  background: #333;
  padding: 1rem;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.showcase-container{
  position: relative;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.showcase-content p{
  margin-bottom: 10px;
}



/* Home Page Articles */

#articles .articles-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#articles .articles-container > *:first-child,
#articles .articles-container > *:last-child{
  grid-column: 1/ span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 1rem;
}

#articles .articles-container > *:last-child{
  grid-column: 2/ span 2;
}



#articles .articles-container .meta{
  background: var(--dark-color);
  color: #fff;
}

#articles .articles-container .meta h3{
  color: #fff;
}

#articles .articles-container > .meta:nth-child(6){
  background: var(--primary-color);
}


/* Footer */

#footer .footer-sections{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-gap: 2rem;
}

#footer .logo img{
  width: 120px;
}

#footer ul li a{
  color: var(--light-color);
  font-size: .9rem;
  
}

#footer ul li{
  padding: .1rem 0 ;
}

#footer .footer-sections > div:nth-child(2) input{
  width: 100%;
  margin-top: .5rem;
  padding: 5px;
}

#footer .footer-sections > div:nth-child(2) input:hover{
  opacity: .9;
}

#footer .footer-sections input{
  border: none;
  
}

.footer-copy{
  text-align: center;
  background: rgb(70, 70, 70);
}




/* About Page */

#about .container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

#about .container >*:first-child{
  grid-row: 1/span 3;
}